@import "variables";
@import "colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
#app {

  .contentOne {
    background-image: url($bg-header-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &-nav {
      margin: 0 auto;
      padding: 20px 100px;
      display: flex;
      align-items: center;

      .logo {
        width: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .img-logo {
          height: 70px;
          cursor: $pointer;
        }
      }

      .navbar {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .menu-text {
          font-size: 15px;
          padding-right: 70px;
          color: $white;
          list-style: none;
          display: flex;


          .home-text {
            color: $yellow;
            margin-right: 70px;
            cursor: $pointer;
          }


          .text{
            cursor: $pointer;
            margin-right: 70px;

            &:hover {
              color: $yellow
            }
          }
        }

        .donate-button {
          background-color: $yellow;
          color: $white;
          border:none;
          padding: 13px 29px;
          line-height: 17px;
          font-size: 14px;
          text-align: center;
          cursor: $pointer;

          &:hover {
            background-color: $black;
          }
        }
      }
    }

    &-jumbotron {
      padding: 160px 30px 250px;
      color: $white;
      text-align: center;


      .title {
        font-size: 44px;
        text-align: center;
        margin-bottom: 14px
      }

      .subtitle {
        font-size: 17px;
        text-align:center;
      }

      .buttons-jumbotron {
        height: 85px;
        display: flex;
        justify-content: center;
        align-items:flex-end;

        .button-mission {
          margin: 0 15px;
          padding: 13px 29px;
          background: none;
          color: $white;
          font-size: 14px;
          border: 1px solid $white;
          cursor: $pointer;

          &:hover {
            color: $yellow;
            border: 1px solid $yellow;
          }
        }

        .button-donateNow {
          margin: 0 15px;
          padding: 13px 29px;
          background: none;
          color: $yellow;
          font-size: 14px;
          border: 1px solid $yellow;
          cursor: $pointer;

          &:hover {
            color: $white;
            border: 1px solid $white;
          }
        }
      }
    }

  }

  .contentTwo {
    width: 100%;
    background-color: $white;

    &-first {
      display: flex;

      .every-moment-counts {
        width: 66%;
        padding: 80px 100px;
        display: flex;
        flex-direction: column;

        .moment-counts {
          width: 100%;
          color: $black;

          .moment-title {
            font-size: 26px;
            padding-bottom: 15px;
          }
        }

        .line-separator {
          width: 22%;
          border: 1px solid $yellow;
          margin-bottom: 20px;
        }

        .moment-text {
          font-size: 10px;
          color: $light-black;
          font-family: 'Raleway', sans-serif;
          line-height: 30px;

          .testo {
            margin-bottom: 20px;
          }
        }

        .moment-button {
          padding: 13px 29px;
          color: $white;
          background-color: $yellow;
          border: none;
          font-size: 14px;
          font-family: 'Montserrat', sans-serif;
          cursor: $pointer;

          &:hover {
            background-color: $black;
          }
        }

      }

      .numbers-data {
        width: 34%;
        background-image:url( $bg-main-number-image);
        padding: 50px 0;
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .numbers-box {
          padding: 20px;
          font-size: 55px;
          margin-bottom: 5px;

          .box-percentage {
            display: flex;
            justify-content: center;
            align-items: center;

            i {
              margin-right: 10px;
            }
          }
          .numbers-title {
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }

    &-second {
      background-image: url($bg-main-ourValues-image);
      padding: 150px 100px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      .ourValues-box-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $white;

        .text-title {
          font-size: 25px;
        }

        .line-text {
          width: 20%;
          padding: 20px 15px;

          .line {
            width: 100%;
            border: 1px solid $yellow;
          }
        }

        .text-subtitle {
          font-size: 21px;
          padding: 15px 0;
        }
      }

      .learn-more {
        margin-top: 55px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .box {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: $white;
          padding: 10px;

          &-icon {
            color: $yellow;
            font-size: 50px;
          }

          &-title {
            font-size: 20px;
            padding: 10px 0;
          }

          &-paragraph {
            font-size: 14px;
            padding: 15px 0;
            line-height: 20px;
            text-align: center;
          }

          &-button {
            padding: 13px 29px;
            margin-top: 20px;
            color: $white;
            background-color: $yellow;
            border: none;
            font-size: 14px;
            font-family: 'Montserrat', sans-serif;
            cursor: $pointer;

            &:hover {
              background-color: $black;
            }
          }
        }
      }

    }

    &-third {

      .container-causes {
        padding: 50px 100px;

        .recent-causes {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .text-title {
            font-size: 25px;
            color: $black;
          }

          .line-text {
            width: 20%;
            padding: 20px 15px;

            .line {
              width: 100%;
              border: 1px solid $yellow;
            }
          }

          .text-subtitle {
            font-size: 21px;
            padding: 15px 0;
            color: $light-black;
          }
        }

        .images-box {
          margin-top: 55px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .card {
            cursor: $pointer;
            padding: 10px;


            .image {
              width: 100%;
              box-shadow: 6px 5px 15px -3px grey;
            }

            .image-text {
              display: none;
              color: $white;
            }
          }
        }
      }

      .button-causes {
        background-color: $burnt-sienna;
        padding: 70px;
        display: flex;
        justify-content: center;
        color: $white;
        cursor: $pointer;

        &:hover {
          background-color: $blue-marine;
        }
        .text-button-couses {
          font-size: 20px;
        }
      }
    }

    &-fourth {
      padding: 50px 200px;

      .latest-articles {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $light-black;
        padding: 15px 0 40px 0;

        .text-title {
          font-size: 25px;
        }

        .line-text {
          width: 20%;
          padding: 20px 15px;

          .line {
            width: 100%;
            border: 1px solid $yellow;
          }
        }

        .text-subtitle {
          font-size: 22px;
          padding: 15px 0;
        }
      }

      .container-articles {

        .articles-box {
          display: flex;
          justify-content: space-between;

          .principal-article {
            width: 50%;
            padding: 15px;

            .container-principal-article{
              border: 1px solid lightgrey;
              box-shadow: 0px 0px 8px -5px grey;

              .principal-image {
                position: relative;
                cursor: $pointer;
                .image {
                  width: 100%;
                }

                .over {
                  display: none;
                   position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                  }

                  &:hover + .over{
                    width: 100%;
                    height: 100%;
                    background: red;
                    transition: width 2s;
                    display: block
                  }
              }

              .principal-text {
                padding: 15px;
                border: 0 1px 1px 1px solid lightgrey;

                .text-title {
                  font-size: 20px;
                  color: $yellow;
                  margin: 10px 0;
                }
                .text-paragraph {
                  font-size: 15px;
                  color: $light-black;
                  line-height: 25px;
                }
              }
            }

          }

          .secondary-articles{
            width: 50%;
            padding: 15px;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;


            .article {
              display: flex;
              margin-bottom: 15px;

              .article-image {
                width: 25%;
                position: relative;


                .image {
                  width: 97%;
                  cursor: $pointer;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);

                  &:hover {
                    width: 99%;
                    box-shadow: 0px 4px 12px 3px grey;

                  }
                }
              }

              .article-text {
                width: 75%;
                padding: 5px 15px;

                .text-title {
                  font-size: 25px;
                  color: $yellow;
                  margin-bottom: 10px;
                }
                .text-paragraph {
                  font-size: 15px;
                  line-height: 30px;
                }
              }

            }
          }

        }

        .button-articles {
          padding: 0 15px;
          margin-top: 50px;

          .button {
            background-color: $burnt-sienna;
            padding: 30px;
            display: flex;
            justify-content: center;
            color: $white;
            cursor: $pointer;

            &:hover {
              background-color: $blue-marine;
            }
            .text-button-couses {
              font-size: 20px;
            }
          }
        }
      }
    }

    &-fifths {
      background-image: url($bg-main-changeLife-image);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      .container-changeLife {
        padding: 150px 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .change-life{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: $white;
          padding: 0 150px;

          .text-title {
            font-size: 25px;
          }

          .line-text {
            width: 20%;
            padding: 20px 15px;

            .line {
              width: 100%;
              border: 1px solid $yellow;
            }
          }

          .text-subtitle {
            font-size: 22px;
            padding: 15px 140px;
          }
        }

        .buttons-change-life {
          height: 85px;
          display: flex;
          justify-content: center;
          align-items:flex-start;

          .button-volunteer {
            margin: 0 15px;
            padding: 13px 29px;
            background: none;
            color: $white;
            font-size: 14px;
            border: 1px solid $white;
            cursor: $pointer;

            &:hover {
              color: $yellow;
              border: 1px solid $yellow;
            }
          }

          .button-donateNow {
            margin: 0 15px;
            padding: 13px 29px;
            background: none;
            color: $yellow;
            font-size: 14px;
            border: 1px solid $yellow;
            cursor: $pointer;

            &:hover {
              color: $white;
              border: 1px solid $white;
            }
          }
        }
      }
    }

  }

  .contentThree {
    display: flex;
    flex-direction: column;
    align-items: center;

    .footer-logo {
      width: 100%;
      background-color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px 100px;

      .logo-image {
        width: 20%;
      }
    }

    .footer-info {
      background-color: $white-smoke;
      padding: 30px 100px;
      width: 100%;
      display: flex;
      justify-content: center;
      font-size: 10px;


      .info-link {
        display: flex;
        list-style: none;
        color: $light-black;

        .link{
          padding: 0 5px;
          margin-right: 10px;
          border-right: 1px solid $light-black;
        }
      }
    }

    .social-list {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 15px;
      background-color: $white-smoke;

      .social {
        padding: 0 15px;
        margin: 0 15px;
        border-radius: 50%;
        background-color: white;
        font-size: 25px;
        color: $yellow;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: $pointer;
      }
    }
  }
}
