$bg-header-image: "../img/home-page-slider.jpg";
$bg-main-number-image:"../img/home-content-bg-1.jpg";
$bg-main-ourValues-image:"../img/home-content-bg-2.jpg";
$bg-main-changeLife-image:"../img/home-footer.jpg";
$bg-color-main: #fff;
$inline-block: inline-block;
$pointer: pointer;
